/*
Colors used:
light blue #AFEEEE
button green #009933*/




body {
    padding: 0;
    margin: 0;
    text-align: center;
  }

#game-intro {
background: linear-gradient(
    to bottom,
    #AFEEEE 0%,
    #AFEEEE 40%,
    white 80%,
    white 100%
);
}

.logo-img {
    margin-top: 30px;
    margin-left: -50px;
    width: auto;
    height: 220px;
    }

#start-button {
    margin-top: 50px;
    font-size: 30px;
    background-color: #009933;
    color: white;
    border: 0;
    padding: 15px 40px 15px;
    border-radius: 5px;
}

#game-intro p {
    margin-top: 50px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.keyboard-img {
    width: auto;
    height: 80px;
    margin-bottom: 100px;
}

#game-container {
    display: flex;
    width: 100%;   
    padding-top: 40px;
    justify-content: center;
}

#game-screen {
    display:none;
    align-content: center;a
    overflow: hidden;
    position: relative;
    background-image: url(../img/background.png);
    /*height: 88vh;
    width: 45vw;*/
    background-repeat: no-repeat;
    background-size: cover;
        
}
